@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

h1 {
  display: none;
}

.game {
  display: flex;
  flex-flow: column nowrap;
}

.game__control {
  width: 300px;
  margin-bottom: 1rem;

  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.game__control li {
  color: #0c4c74;
  font-size: 1.2rem;
}

.game__control li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.game__control li:last-child {
  text-align: center;
}

.game__control--shuffle-btn {
  padding: 1rem 0.5rem;

  color: #0c4c74;
  font-size: 1.2rem;

  border-radius: 0.5rem;
  border: 1px solid #0c4c74;

  transition: all 0.2s ease-in-out;
}

.game__size {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;

  font-size: 1.5rem;
}

.size-btn {
  padding: 1rem 0.5rem;

  color: #0c4c74;
  font-size: 1.2rem;

  border-radius: 0.5rem;
  border: 1px solid #0c4c74;
  background-color: transparent;

  transition: all 0.2s ease-in-out;
}

.game__buttons-wrapper {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;

  position: relative;
}

.modal {
  width: 0;
  height: 0;

  position: relative;
  left: 50%;
  top: 50%;
  z-index: -10;

  transform: translate(-50%, -50%);

  border-radius: 0.5rem;

  opacity: 0;

  transition: all 0.3s ease-in-out;

  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 30px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.modal.open {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 300px;
  height: 300px;
  z-index: 10;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.modal.open p {
  font-size: 2rem;
  color: #0c4c74;
  text-align: center;
}

.modal.open button {
  font-size: 2rem;
  color: #0c4c74;
  border-radius: 0.5rem;
  border: 1px solid #0c4c74;
  background-color: transparent;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.button {
  position: absolute;

  margin: 0;
  padding: 0;

  color: #0c4c74;

  border: none;
  outline: none;
  background: transparent;

  transition: all 0.2s ease-in-out;
}

.button img {
  position: absolute;
  z-index: -1;
  inset: 0;

  width: 100%;
  height: 100%;
}

.button.empty {
  visibility: hidden;
}

@media screen and (hover: hover) {
  .button:hover {
    cursor: pointer;
  }

  .size-btn:hover,
  .game__control--shuffle-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
  }

  .modal.open button:hover {
    cursor: pointer;
    background-color: #BFE2C2;
  }
}

@media screen and (max-width: 576px) {
  body {
    align-items: flex-start;
    padding-top: 3rem;
  }
}